<div class="sidebar flex-column d-flex align-items-center pt-3" [ngClass]="{ show: show }">
  <div class="sidebar__logo d-flex align-items-end justify-content-center position-relative">
    <img src="../../assets/fox.png" class="position-absolute" />
    <span>foxstone</span>
  </div>
  <div class="sidebar__menu">
    <div class="sidebar__menu-item">
      <i class="material-icons">gavel</i>
      <span>dashboard</span>
    </div>
    <div class="sidebar__menu-item">
      <i class="material-icons">swap_horiz</i>
      <span>offerings</span>
    </div>
    <div class="sidebar__menu-item">
      <i class="material-icons">people</i>
      <span>transactions</span>
    </div>
    <div class="sidebar__menu-item">
      <i class="material-icons">settings</i>
      <span>settings</span>
    </div>
    <div class="sidebar__menu-item">
      <i class="material-icons">gavel</i>
      <span>value</span>
    </div>
    <div class="sidebar__menu-item">
      <i class="material-icons">gavel</i>
      <span>value</span>
    </div>
  </div>
</div>
